@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1280px;
  margin: auto;
}
.dark-01{
  color: #252432;
}
.dark-02{
  color: #8987A1;
}
.dark-03{
  color: #000000;
}
.dark-04{
  color: #E95A08;
}
.dark-05{
  color: #111111;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  margin: 30px;
  margin-bottom: 120px;
  font-family: inter;
}

nav a{
  list-style: none;
  text-decoration: none;
  margin-left: 48px;
}
.img-1{
  width: 135px;
  height: 82px;
}
.card-container{
  font-size: 16px;
  font-weight: 700;
}
.card-item{
  font-size: 16px;
  font-weight: 400;
}
.card-item1{
  font-size: 16px;
  font-weight: 400;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  gap: 50px;
  margin: 30px;
  margin-bottom: 70px;
}

.banner-container{
  font-size: 65px;
  font-weight: 700;
}
.banner-discription{
  font-family: inter;
  color: #00000080;
  font-size: 15px;
  margin-top: 13px;
}
div>img{
  width: 100%;
  display: block;
}
.plant{
  text-align: center;
}
.plant-card{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.plant-container{
  color: #00000080;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn-primary{
  background-color: rgb(233, 90, 8);
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  width: 171px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
  }
  .plant-grow{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: inter;
  }
.plant-title{
  font-family: inter;
  margin: 30px 0;
}
.item-1{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.img-2>img{
  width: 250px;
  height: 300px;
  display: block;
  margin-bottom: 20px;
}
.section{
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.section-container{
  font-size: 50px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-description{
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
  text-align: left;
  padding-left: 10px;
}

.img-3>img{
 width: 540px;
 height: 597px;
}
 .deal-grid{
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:197px 197px;
    margin-bottom: 40px;
 }
 .bloom-plant{
     background-image: linear-gradient(rgba(38, 37, 37, 0.6),rgba(40, 39, 39, 0.4)),url(../assets/deal-bloom.png);
    
    background-size: cover;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
  .zabo-plant{
      background-image: linear-gradient(rgba(38, 37, 37, 0.6),rgba(40, 39, 39, 0.4)),url(../assets/deal-zabo.png);
    grid-row: span 2;
    border-radius: 14px;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     align-items: center;
     color: white;
}
  .ana-plant{
   background-image: linear-gradient(rgba(38, 37, 37, 0.6),rgba(40, 39, 39, 0.4)),url(../assets/deal-ana.png);
    border-radius: 14px;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
}
.deal-grid div h2{
    font-size: 20px;
    font-weight: bold;
}
.deal-grid div span{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.deal-grid .zabo-plant h2{
    font-size: 30px;
}
.deal-grid .zabo-plant span{
    font-size: 26px;
    text-underline-offset: 6px;
}

 .join-head{
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
 }
.join{
  color: #FFFFFF;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 100px;
}
.join-card{
  display: flex;
}
input[type="email"]{
  width: 800px;
  height: 50px;
  display: block;
  margin-top: 30px;
  padding: 10px;
}
.footer-img{
  width: 135px;
  height: 82px;
}
.footer-img-1{
  width: 36px;
  height: 36px;
}
.footer-title{
  text-align: left;
  justify-items: left;
  align-items: left;
  color: #00000080;
  
}
.footer-text{
  font-size: 15px;
  margin-top: 20px;
  font-weight: 400;
}


.footer-card{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 80px;
  margin-bottom: 50px;
}
.footer-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.footer-section a{
  list-style: none;
  text-decoration: none;
  color: #6B7280;
}
.footer-description{
  display: flex;
  gap: 10px;
}


@media screen  and (max-width: 576px){ 
  .header{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 13px;
    overflow: hidden;
  }
  .card-container{
    display: none;
  }
  .card-item{
  display: none;
}
.card-item1{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.banner{
  flex-direction: column-reverse;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.banner-container{
  font-size: 24px;
}
.banner-discription{
  font-size: 14px;
  margin-bottom: 40px;
}
div>img{
  width: 100%;
  display: block;
}
.plant{
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.plant-card{
  font-size: 25px;
}
.plant-container{
  font-size: 18px;
}
.plant-grow{
  grid-template-columns: repeat(2,1fr);
  overflow-y: hidden;
  gap: 10px;
  margin: 0 auto;
  margin-top: 0;
}
.img-2>img{
  width: 200px;
  height: 300px;
  display: block;
}
.join-head{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}
.join-card{
  flex-direction: row;
  padding: 0;
}
.join{
  display: block;
  font-size: 15px;
  padding: 20px 70px;
  margin: auto;
  text-align: center;
  justify-content: center;
}
input[type="email"]{
  width: 218px;
  height: 50px;
  display: block;
  margin-top: 30px;
  text-align: start;
  padding: 10px;
}
.section{
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 50px;
}
.img-3>img{
  margin: 20px;
  overflow: hidden;
}
.section-container{
  font-size: 30px;
  text-align: start;
}
.section-description{
  margin-left: 30px;
}
.footer-card{
  flex-direction: column;
  margin-left: 10px;
  overflow-y: hidden;
}
.footer-section{
  grid-template-columns: repeat(1,1fr);
  margin-left: 10px;
  overflow-x: hidden;
}
.deal-grid{
  grid-template-columns: repeat(1,1fr);
  overflow: hidden;
  gap: 26px;
  grid-template-rows: auto;
}
.bloom-plant{
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  height: 206px;
}
.ana-plant{
  padding: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  margin: 20px;
  height: 206px;
}

.zabo-plant{
    margin: 20px;
    grid-row: auto;
    height: 206px;

}
.zabo-plant h2{
  font-size: 20px;
}

}